﻿@model PR.Models.GameViewModel
@using Microsoft.Owin.Security
@{
    var isGameCreated = Model.IsGameCreated();
    if (isGameCreated)
    {
        var id = Model.GetFacebookId();
        var accessToken = Model.GetAccessToken();
        var friends = Model.GetFriendsList();
        var rankings = Model.GetRankings();
        <div ng-controller="GameController as game">
            <div class="friends">
                <div ng-repeat="item in data | startFrom:currentPage*pageSize | limitTo:pageSize" class="col-md-3 col-sm-3 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-one">
                        <h5>{{item.name}}</h5>
                        <button index="{{$index}}" class="facebook-icon-button" type="button" data-toggle="modal" data-target="#myModal{{$index}}" ng-click="ranking($index,'@id',item.facebookId,'25')">
                            <div class="facebook-icon fa dashboard-div-icon" style="background-image:url({{item.url}});background-size: cover;">
                                <div class="status">

                                </div>
                            </div>
                        </button>
                    </div>

                    <div class="modal fade" id="myModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Rank {{item.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <select id="rank-{{$index}}" multiple="multiple" size="10" name="duallistbox" class="ranking-selection">
                                        <option value="option1">Option 1</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3" selected="selected">Option 3</option>
                                        <option value="option4">Option 4</option>
                                        <option value="option5">Option 5</option>
                                        <option value="option6" selected="selected">Option 6</option>
                                        <option value="option7">Option 7</option>
                                        <option value="option8">Option 8</option>
                                        <option value="option9">Option 9</option>
                                        <option value="option0">Option 10</option>
                                        <option value="option0">Option 11</option>
                                        <option value="option0">Option 12</option>
                                        <option value="option0">Option 13</option>
                                        <option value="option0">Option 14</option>
                                        <option value="option0">Option 15</option>
                                        <option value="option0">Option 16</option>
                                        <option value="option0">Option 17</option>
                                        <option value="option0">Option 18</option>
                                        <option value="option0">Option 19</option>
                                        <option value="option0">Option 20</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-12 pagination-buttons">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"  class="btn btn-default">Previous</button>
                    <button type="button" class="btn btn-default">{{currentPage+1}}/{{numberOfPages()}}</button>
                    <button type="button" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-default">Next</button>
                </div>
            </div>
        </div>
    
        <script type="text/javascript">
            var friendsStr = '@friends';
            friendsStr = friendsStr.split('&quot;').join('"');
            var friends = $.parseJSON(friendsStr);

            var accessToken = '@accessToken';

            var rankingsStr = '@rankings';
            rankingsStr = rankingsStr.split('&quot;').join('"');
            var rankings = $.parseJSON(rankingsStr);

            app.value('friends', friends);
            app.value('accessToken', accessToken);
            app.value('rankings', rankings);
        </script>
    }
    else
    {
        <button type="button" class="create btn btn-default">Start Game</button>
        <script type="text/javascript">
            $(".create").click(function () {
                $.ajax({
                    url: '/api/Games',
                    type: "POST",
                    success: function (data, status, xhr) {
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            });
        </script>
    }
}

