﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Toronto ON<br />
    Canada<br />
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:vin@vingosoftware.com">vin@vingosoftware.com</a><br />
</address>