﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>@ViewBag.Title - Rediscover your network.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular_app")
    @Scripts.Render("~/bundles/jqueryplugins")

    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="app">
    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <div class="logo">
                        <img src="//publicranks.blob.core.windows.net/cdn/pr_logo.png" />
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        @if (Request.IsAuthenticated)
                        {
                            <ul id="menu-top" class="nav navbar-nav navbar-left">
                                <li>@Html.ActionLink("My Publicrank", "publicrank", "Home")</li>
                            </ul>
                        }
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row pull-left">
                <div class="col-md-12">
                    Copyright &copy; @DateTime.Now.Year Vingo Software Inc. All Rights Reserved.</a>
                </div>
            </div>
            <div class="row pull-right">
                <div class="col-md-12">
                    <strong>Email: </strong>info@vingosoftware.com
                    &nbsp;&nbsp;
                    <strong>Support: </strong>support@vingosoftware.com
                </div>

            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '507934389270661',
                    xfbml: true,
                    version: 'v2.2'
                });
                processQueue();
            };
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>
    @Scripts.Render("~/bundles/angular_main")
</body>
</html>
